div.page-header {
  border: var(--lwc-borderWidthThin, 1px) solid rgb(201, 201, 201);
}

ul.page-header-detail {
  border-top: var(--lwc-borderWidthThin, 1px) solid rgb(201, 201, 201);
}

.slds-grid.slds-grid_align-center {
  padding: 0.5rem 0;
}

.record-count-text {
  color: var(--lwc-colorTextWeak, #706e6b);
}
