name: validation

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  validation:
    name: Validation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@main
        with:
          fetch-depth: 0 # Shallow clones should be disabled for a better relevancy of analysis
      - name: Select Node Version
        uses: svierk/get-node-version@main
      - name: Run npm clean-install
        run: npm ci
      - name: Check Prettier
        run: npm run prettier
      - name: Check ESLint
        run: npm run lint:sonar
      - name: LWC Unit Tests
        run: npm run test:unit:coverage
      - name: Install SF CLI
        run: |
          npm i -g @salesforce/cli
          sf version
      - name: Salesforce Org Login
        run: sf org login sfdx-url --set-default --sfdx-url-file <(echo "${{ secrets.SFDX_AUTH_URL }}")
      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      - name: Codecov Coverage Upload
        uses: codecov/codecov-action@main
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
